* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    font-family: Poppins, sans-serif;
    background: url('/images/guidelines-background.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 75px;
}

.container-fluid {
    width: 100%;
}


.nav-link{
position: relative;
}


.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
    margin-left: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
    
}

footer p {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 14px;
    padding-left: 15px;
    width: 100%;
    font-family: Poppins, sans-serif;
    color: rgb(255, 255, 255);
}