* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    background: url('/images/background.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 75px;
}

.container-fluid {
    width: 100%;
}


.nav-link{
position: relative;
}


.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
    margin-left: 15px;
}




.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
    
}

footer {
    margin-top: auto;
    padding: 1rem;
    text-align: center;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    color: rgb(114, 114, 114);
}


section.home h1 {
    top: 270px;
    left: 75px;
    font-size: 120px !important;
    font-weight: 100 !important;
    color: #884642;
}

section.home h2 {
    top: 410px;
    left: 80px;
    font-size: 30px !important;
    color: #b76300;
}

section.home p.p1 {
    top: 480px;
    left: 80px;
    font-size: 20px;
    color: #4A2D0B;
}

section.home p.p2 {
    top: 600px;
    left: 80px;
    font-size: 20px;
    color: #4A2D0B;
}

@media (max-width: 992px) {
    .navbar-nav .nav-item .nav-link {
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .navbar-nav .nav-item .nav-link {
        margin-left: 8px;
    }
  
    .navbar-brand img {
        margin-right: 5px;
    }
  
    section.home h1 {
        top: 355px;
        left: 25px;
        font-size: 40px !important; 
    }
  
    section.home h2 {
        left: 25px;
        top: 415px;
        font-size: 18px !important; 
    }
  
    section.home p.p1,
    section.home p.p2 {
        left: 25px;
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 20px;
    }

    section.home h1 {
        top: 255px;
        color: #000;
        left: 25px;
        font-size: 40px !important; 
    }
  
    section.home h2 {
        left: 25px;
        top: 300px;
        font-size: 18px !important; 
    }
  
    section.home p.p1 {
        top: 350px;
        left: 15px;
        font-size: 12px;
    }
    section.home p.p2 {
        top: 450px;
        left: 15px;
        font-size: 12px;
    }
}

